* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcf8ff;
  color: #4b4453;
}

section {
  display: flex;
  margin: 0 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110vh;
}

.img {
  width: 20rem;
  height: 20rem;
}
img {
  width: 100%;
  height: 100%;
}

h1,
p {
  padding: 1rem 0;
}
p {
  font-size: 1.2rem;
}

.arrows {
  transform: rotate(90deg);
  font-size: 2rem;
  margin: 4rem 0;
  animation: crescendo 1.5s alternate infinite ease-in;
}

@keyframes crescendo {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(2);
  }
}

.set {
  margin: 3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.animation {
  opacity: 0;
  transform: translateX(-300px);
  transition: all 0.5s ease-out;
  transition-delay: 0.4s;
}
.scroll-animation {
  opacity: 1;
  transform: translateX(0);
}
